#LiveGame {
  font-size: 16px;
  font-family: "SourceSansPro_regular";
  color: #fff;
}
#LiveGame canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
#LiveGame > .leftPanel {
  position: absolute;
  width: 176px;
  height: 100%;
}
#LiveGame > .leftPanel > .inner {
  margin-left: auto;
  margin-right: auto;
  width: 163px;
}
#LiveGame > .leftPanel > .inner > .entityButtonPanel {
  height: 141px;
  background-color: #666;
}
#LiveGame > .leftPanel > .inner > .commandButtonPanel {
  margin-top: 20px;
  height: 141px;
  background-color: #aaa;
}
#LiveGame > .resourcePanel {
  position: absolute;
  left: 176px;
  right: 16px;
  height: 16px;
  overflow: hidden;
}
#LiveGame > .resourcePanel > .resources {
  float: left;
  padding-left: 40px;
}
#LiveGame > .statusPanel {
  position: absolute;
  left: 176px;
  bottom: 0;
  right: 16px;
  height: 16px;
}
#LiveGame > .statusPanel > .status {
  float: left;
}
#LiveGame > .statusPanel > .costs {
  float: right;
  padding-right: 40px;
}
#LiveGame .resource {
  float: left;
  width: 80px;
}
#LiveGame .resource > .icon {
  float: left;
}
#LiveGame .resource > .value {
  float: left;
  margin-left: 4px;
  font-size: 0.8em;
}
#LiveGame .resource.gold > .icon {
  width: 14px;
  height: 14px;
  background-image: url('../../../../asset/image/ui/human_ui.png');
  background-position: -564px 0px;
  background-repeat: no-repeat;
}
#LiveGame .resource.lumber > .icon {
  width: 14px;
  height: 14px;
  background-image: url('../../../../asset/image/ui/human_ui.png');
  background-position: -564px -14px;
  background-repeat: no-repeat;
}
#LiveGame .resource.oil > .icon {
  width: 14px;
  height: 14px;
  background-image: url('../../../../asset/image/ui/human_ui.png');
  background-position: -564px -28px;
  background-repeat: no-repeat;
}
#LiveGame .resource.food > .icon {
  width: 14px;
  height: 14px;
  background-image: url('../../../../asset/image/ui/human_ui.png');
  background-position: -564px -42px;
  background-repeat: no-repeat;
}
#LiveGame .resource.mana > .icon {
  width: 14px;
  height: 14px;
  background-image: url('../../../../asset/image/ui/human_ui.png');
  background-position: -564px -56px;
  background-repeat: no-repeat;
}
#LiveGame > .rightFillerPanel {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 16px;
}
#LiveGame > .mainView {
  position: absolute;
}
#LiveGame > .notifyMessage {
  position: absolute;
  left: 200px;
  bottom: 32px;
}
#LiveGame > .pingPanel {
  position: absolute;
  width: 140px;
  height: 80px;
  background-color: blue;
  right: 20px;
  top: 20px;
}
#LiveGame .iconButton {
  position: relative;
  float: left;
  width: 54px;
  height: 53px;
  background-image: url('../../../../asset/image/ui/human_ui.png');
  background-position: -494px 0px;
  background-repeat: no-repeat;
}
#LiveGame .iconButton.entity {
  height: 53px;
}
#LiveGame .iconButton.entity.group > .groupFrame {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 50px;
  height: 42px;
  border: 1px solid #ff0;
}
#LiveGame .iconButton.entity > .healthbar {
  position: absolute;
  left: 2px;
  top: 46px;
  width: 50px;
  height: 5px;
  background-color: #343434;
}
#LiveGame .iconButton.entity > .healthbar > .bar {
  height: 100%;
}
#LiveGame .iconButton.command {
  height: 46px;
}
#LiveGame .iconButton.command.filler {
  visibility: hidden;
}
#LiveGame .iconButton > .portrait {
  position: absolute;
  left: 4px;
  top: 4px;
}
#LiveGame .iconButton:hover > .hoverFrame {
  position: absolute;
  width: 52px;
  height: 44px;
  border: 1px solid #a0a0a4;
}
#LiveGame[race=human] > .leftPanel {
  background-image: url('../../../../asset/image/ui/human/buttonpanel.png');
}
#LiveGame[race=human] > .resourcePanel {
  background-image: url('../../../../asset/image/ui/human/resource.png');
}
#LiveGame[race=human] > .statusPanel {
  background-image: url('../../../../asset/image/ui/human/statusline.png');
}
#LiveGame[race=human] > .rightFillerPanel {
  background-image: url('../../../../asset/image/ui/human/filler-right.png');
}
#LiveGame[race=orc] > .leftPanel {
  background-image: url('../../../../asset/image/ui/orc/buttonpanel.png');
}
#LiveGame[race=orc] > .resourcePanel {
  background-image: url('../../../../asset/image/ui/orc/resource.png');
}
#LiveGame[race=orc] > .statusPanel {
  background-image: url('../../../../asset/image/ui/orc/statusline.png');
}
#LiveGame[race=orc] > .rightFillerPanel {
  background-image: url('../../../../asset/image/ui/orc/filler-right.png');
}
